.container-small-card {
  margin-bottom: 10px;
  width: 700px;
}

.container-small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card-photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  margin-top: -8px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.small-card-title > h1 >  a {
  color: rgb(116, 111, 111);
  font-size: 15px;
}

.container-small-card-separator {
  margin-top: 10px;
}

