
<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-main">
    <app-big-card 
    Id="1"
    photoCover="https://img.freepik.com/vetores-gratis/tecnologia-de-rede-futurista-azul_53876-100679.jpg?w=996&t=st=1690463174~exp=1690463774~hmac=884e6be1ab4057907b5d2a4593303b19417de87979873499db974fcf84e952ac"
    cardTitle="A Evolução da Tecnologia"
    cardDescription="A evolução da tecnologia é constante. Desde que a humanidade existe, as pessoas pensam em melhorar suas condições de vida e facilitar tarefas de rotina. Se na década de 80 não se imaginava acessar a internet, nos anos 2000 isso com certeza se tornou uma realidade."
    >
  </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    Id="2"
    cardTitle="Desenvolvedor full stack Utilizando uma linguagem mais técnica, o full stack é o responsável pelo desenvolvimento de uma solução digital do front-end ao back-end."
    photoCover="https://media.istockphoto.com/id/1321462048/pt/foto/digital-transformation-concept-system-engineering-binary-code-programming.jpg?s=612x612&w=is&k=20&c=6B91YFuEUilxXCaldXrXGdTQjahTdPiLEfHWTPcaHOY="
    >
    </app-small-card>
    <app-small-card 
    Id="3"
    cardTitle="Analista de Dados Interpreta os dados utilizando técnicas estatísticas,  com um sistemas de coleta de dados e outras estratégias que otimizem a eficiência e a qualidade de dados."
    photoCover="https://img.freepik.com/fotos-gratis/visao-traseira-o-examinador-de-poligrafo-trabalha-no-escritorio-com-seu-equipamento-detector-de-mentiras_146671-17277.jpg?w=996&t=st=1690482490~exp=1690483090~hmac=efc86b1e5836a15a0e4719471e1aa8de0c147ef78e4afab05353f7b6b933af60"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    cardTitle="O Quality Assurance é a pessoa que ira garantir a qualidade do softwre, testando produtos fornecendo relatórios à equipe, para alinhar a posição do negócio com as expectativas do cliente, garantindo que tudo esteja dentro do padrão de qualidade."
    photoCover="https://img.freepik.com/fotos-gratis/empresario-apontando-para-sua-apresentacao-na-tela-digital-futurista_53876-102617.jpg?w=996&t=st=1690482193~exp=1690482793~hmac=b68908c25d04117b1fef4fac62094d1ded98f6cec79c3c24f1e0b413238135e4"
    > 
    </app-small-card>
  </div>
</div>