
<app-menu-title></app-menu-title>
<div class="container-articles">
  <div class="articles-main">
    <app-big-card 
    [routerLink]="['content/id']"
    Id="1"
    photoCover="https://img.freepik.com/fotos-gratis/conceito-de-rpa-com-tela-de-toque-de-mao-embacada_23-2149311914.jpg?w=1380&t=st=1690558792~exp=1690559392~hmac=5fdff21b948152b6596655ace7a50afa18f857fafb5a00c495d8e35257bd160c"
    cardTitle="Tecnologia da Informação"
    cardDescription="Ainda que possa ser compreendida de várias formas, a TI é entendida como o conjunto de todas as atividades e soluções produzidas por meio de recursos tecnológicos da computação para realizar o armazenamento, processamento, utilização e transmissão da informação."
    >
  </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card
    Id="2"
    cardTitle="Desenvolvedor full stack do front-end ao back-end."
    photoCover="https://media.istockphoto.com/id/1321462048/pt/foto/digital-transformation-concept-system-engineering-binary-code-programming.jpg?s=612x612&w=is&k=20&c=6B91YFuEUilxXCaldXrXGdTQjahTdPiLEfHWTPcaHOY="
    >
    </app-small-card>
    <app-small-card 
    Id="3"
    cardTitle="Analista de Dados coleta dados utilizando técnicas estatísticas."
    photoCover="https://img.freepik.com/fotos-gratis/mulher-ocupada-trabalhando-a-noite-na-frente-do-computador-fazendo-anotacoes-escrevendo-nos-relatorios-anuais-do-caderno-verificando-o-projeto-financeiro-funcionario-focado-usando-rede-de-tecnologia-sem-fio-fazendo-horas-extras-para-o-trabalho_482257-13382.jpg?w=900&t=st=1690559340~exp=1690559940~hmac=8e548bf4f5fb8f2ce23c224bff3781d190058ccd0a9cab1cd44c5998bb7c8620"
    >
    </app-small-card>
    <app-small-card
    Id="4"
    cardTitle="Quality Assurance com técnicas e testes garante qualidade."
    photoCover="https://img.freepik.com/fotos-premium/garantia-de-garantia-de-certificacao-de-controle-de-qualidade-padrao_20693-431.jpg?size=626&ext=jpg&ga=GA1.1.719545675.1690458645&semt=sph"
    > 
    </app-small-card>
  </div>
</div>